{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    
    {% block title %}<title>Watch and Learn</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/watchandlearn/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/watchandlearn/css/main.css' %}" />

    <script src="{% static '/watchandlearn/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/watchandlearn/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    
    <!-- Add additional CSS in static file -->

  </head>

  <body>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>