<!DOCTYPE html>
<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../../static/watchandlearn/css/main.css" />
  </head>
  <body>
    <div>
        <div class = "topBar">
           Pokemon Black & White
        </div>  
        <div class="contents">
            <div class="row">
                <div class = "category">Action</div>
            </div>
            <div class = "container">
                <div class = "row">
                    <div  class = "col col-6 ep left">
                        EP 1
                    </div>
                    <div class = "col col-6 ep right">
                        Ep 2
                    </div>
                </div>
                <div class = "category">Adventure</div>
                <div class="row">
                    <div class = "col col-6 ep left">
                       EP3
                    </div>
                    <div class = "col col-6 ep right">
                        EP 4
                    </div>
                </div>
                
            </div>
        </div>
    </div>
      
    <script>
        var images = {
            
        }
    </script>
  </body>
</html>