{% extends "watchandlearn/base_generic.html" %}

{% block content %}
  {% load static %}
  <script src="{% static '/watchandlearn/javascript/episode_watch.js' %}"></script>

   <iframe id="vid" src="{{ episode.video }}" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>

  <span id="popup">!</span>
  <div id="tip"><span>pro tip right here</span></div>

{% endblock %}
           

