{% extends "watchandlearn/base_generic.html" %}

{% block content %}
    {% load static %}

    <script src="{% static '/watchandlearn/javascript/episodes.js' %}"></script>
   
    <div>
        <div class = "topBar">
           Pokemon Black & White
        </div>  
        <div class="contents">
            <div class = "container">
                <div class = "row">
                    <div  class = "col-6 ep">
                        <div class="area">
                            <span><h1>EP 1</h1></span>
                        </div>
                    </div>
                    <div class = "col-6 ep">
                        <div class="area">
                            <span><h1>EP 2</h1></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col col-6 ep">
                       <div class="area">
                            <span><h1>EP3</h1></span>
                        </div>
                    </div>
                    <div class = "col col-6 ep">
                        <div class="area">
                            <span><h1>EP 4</h1></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col col-6 ep">
                       <div class="area">
                            <span><h1>EP 5</h1></span>
                        </div>
                    </div>
                    <div class = "col col-6 ep">
                        <div class="area">
                            <span><h1> EP 6</h1></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col col-6 ep">
                       <div class="area">
                            <span><h1>EP 7</h1></span>
                        </div>
                    </div>
                    <div class = "col col-6 ep">
                        <div class="area">
                            <span><h1>EP 8</h1></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}