{% extends "watchandlearn/base_generic.html" %}

{% block content %}

  {% load static %}
  <script src="{% static '/watchandlearn/javascript/episode_detail.js' %}">
  </script>

  <div class="container-fluid c1">
      <div class="row">
        <div class="col-sm-6 row1col1">
          <h1 id="animeTitle"> {{ episode.title }} </h1>
          <h3 id="animeEpisode"> {{ episode.number }}</h3>
          <div id="preview">
            <span id="episodeImage"> {{ episode.image.url }}</span>
          </div>
        </div>
        <div class="col-sm-6 row1col2">
          <h2 id="KeyTerms">Key Terms</h2>
        <ul id="termList">
          {% for term in terms %}
            <li>({{ term.timestamp }}) {{ term.word }}: {{ term.definition }}</li>
          {% endfor %}
        </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid c2">
      <div class="row">
        <div class="col-sm-6 row2col1">
          <div id="popUpBtn">
            <button id="pop" type="button" onclick="popUpToggle()">Popup On</button>
          </div>
        </div>
        <div class="col-sm-6 row2col2">
          <div id="goBtn" class="float-right">
            <button type="button" onclick="window.location.href='episode-view.html'"> Go! </button>
          </div>
        </div>
      </div>
    </div>

    <script>
    var episodeImage = document.getElementById('episodeImage');
    console.log(episodeImage.innerText);

    </script>

{% endblock %}
