{% extends "watchandlearn/base_generic.html" %}

{% block content %}

<div class="container-fluid completionMessage">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1> Nice job! Take a look at what you missed! </h1>
    </div>
  </div>
</div>


<div class="container-fluid quiz">
      <div class = "row">
        <div class="col">
          {% for question in questions %}
            <fieldset class="question">
              <legend>
                {{ forloop.counter }}. {{ question.question_text }}
              </legend>
              <div class="row">
                <div class="col-sm-10">
                    {% if answers.forloop.counter %}
                        <p id="correct">Correct!</p>
                    {% else %}
                        <p id="incorrect">Incorrect.</p> The correct answer is {{ question.answer }}
                    {% endif %}
                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="1"> {{ question.option1 }} </input>
                  </div>

                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="2"> {{ question.option2 }} </input>
                  </div>

                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="3"> {{ question.option3 }} </input>
                  </div>

                </div>
              </div>
            </fieldset>
          {% endfor %}
        </div>
      </div>  
  </div>

{% endblock %}