{% extends "watchandlearn/base_generic.html" %}

{% block content %}
    {% load static %}
    
    <script src="{% static '/watchandlearn/javascript/episodes.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/watchandlearn/css/episodes.css' %}" />

    <style>
     
    </style>


    <div class = "container"">
      <div class = "topBar">
         
      </div>
<br>  
      {% for topic in topics %}
        <br>
        <h1> {{ topic.title }} </h1>
        <br>  
        <div id="carousel{{ forloop.counter }}" class="carousel slide text-center" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel{{ forloop.counter }}" data-slide-to="0" class="active"></li>
              <li data-target="#carousel{{ forloop.counter }}" data-slide-to="1"></li>
              <li data-target="#carousel{{ forloop.counter }}" data-slide-to="2"></li>
            </ol>
              
            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
              <div class="item active" style="padding-left: 25%">
                <img src="https://i.pinimg.com/originals/67/bc/36/67bc36fe4a5ad62a59b03059b58f57a1.jpg" alt="Pokemon" style="width:50%;">
              </div>

              <div class="item" style="padding-left: 25%">
                <img src="https://media.nyusu.fm/ranking/option/940/11055.jpg" alt="K-ON" style="width:50%;">
              </div>

              <div class="item" style="padding-left: 25%">
                <img src="https://img.etsystatic.com/il/d4bdc1/1266183999/il_570xN.1266183999_dz6q.jpg?version=0" alt="Naruto" style="width:50%;">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#carousel{{ forloop.counter }}" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel{{ forloop.counter }}" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
      {% endfor %}

    </div>

{% endblock %}