{% load static %}
<!DOCTYPE html>
<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../../static/watchandlearn/css/main.css" />
  </head>
  <body>
    <div>
        <div class = "topBar">
            <input id="search" type="text" name="fname">
        </div>  
        <div class="contents">
            <div class="row">
                <div class = "category">Action</div>
            </div>
            <div class = "container">
                <div class = "row">
                    <div  class = "col col-6 anime left">
                        <a href="episodes.html"><img class="rounded img-responsive" src = "https://i.pinimg.com/originals/67/bc/36/67bc36fe4a5ad62a59b03059b58f57a1.jpg"></a>
                      
                    </div>
                    <div class = "col col-6 anime right">
                        <img class="img-responsive" src = "https://media.nyusu.fm/ranking/option/940/11055.jpg">
                    </div>
                </div>
                <div class = "category">Adventure</div>
                <div class="row">
                    <div class = "col col-6 anime left">
                       <img class="img-responsive" src =  "https://img.etsystatic.com/il/d4bdc1/1266183999/il_570xN.1266183999_dz6q.jpg?version=0">
                    </div>
                    <div class = "col col-6 anime right">
                        <img class='img-responsive' src =  "https://www.animez.uk/ekmps/shops/animez/images/one-piece-poster-luffy-co.-2-1040-p.jpg">
                    </div>
                </div>
                {{series}}
            </div>
        </div>
    </div>
      
    <script>
        function addSeries(series){
            if(Document.getElementById(series.topic)){
               $('contents').append("<div class='col col-4'><img class='img-responsive' src='"+series.image+"'></div>") 
            }else{
                $('contents').append("<div class='row' id='"+series.topic+"'><div class='col col-4'><img class='img-responsive' src='"+series.image+"'></div></div>") 
            }
        }
        
        console.log(series);
      </script>
        
         
  </body>
</html>